.Lotto{
    margin: 0 auto;
    text-align: center;
}

.Lotto-balls{
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    margin-bottom: 20px;
}

.Lotto-submit{
    margin-bottom: 3em;
}

#title{
    margin: 0;
    font-style: italic;
    font-size: 40px;
}

#submit{
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: hsl(205, 45%, 45%);
    color: white;
    font-size: 20px;
    padding: 0px;
    border-style: none;
}

#submit:hover{
    cursor: pointer;
    background-color: hsl(205, 55%, 55%);
    border-radius: 10px;
}