extends layouts/login-layout.pug
//- when it's .className pug assumes its div.className
block content    
    .loginContainer
        h1 Login
        form(method="post")
            p.errorMessage #{errorMessage}
            //- The # mean ID.. Right now it has no ID
            //- name will be used to access username
            //- value= means is value is set it wil put string back in textbox for them
            input(type="text", name="logUsername", placeholder="Username or email", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Password", required="")
            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.
    