extends layouts/login-layout.pug
//- when it's .className pug assumes its div.className
block content
    .loginContainer
        h1 Register
        // onsubmit will prevent default submission and called our JS function instead
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm()")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="first name", value:firstName required="")
            input(type="text", name="lastName", placeholder="last name", value:lastName required="")
            input(type="text", name="username", placeholder="username", value:username required="")
            input(type="email", name="email", placeholder="email", value:email required="")
            input#pass(type="password", name="password", placeholder="password", required="")
            input#passConf(type="password", name="passwordConf", placeholder="confirm password", required="")
            input(type="submit", value="Register")
            
        a(href="/login") Already have account? Log in here.

    script.
        const passwordField = document.getElementById("pass");
        const passwordConfirmField = document.getElementById("passConf");
        const form = document.getElementById("registerForm");

        function validateForm() {
            if(passwordField.value != passwordConfirmField.value){
                alert("Password don't match. Try again.")
            }else{
                form.submit();
            }
        }